
  
    @media all and (min-width: 320px) and (max-width: 767px){
      .header__menu--mobile {
        display: block;
        height: 88px;
        box-shadow: 0 2px #D9FFF5;
       }

      .header__menu {
        display: none;
      } 
      
      .top {
        display: none;
      }

      .content__item {
        margin-right: 19px;
      }

      .content__block--hidden {
        display: none;
      }

    }

    @media all and (min-width: 768px){
      .content__item {
        margin-right: 16px;
      }
      .content__main {
        flex-direction: row;
      }
        .main-image {
         display: block;
         border-radius: 5px;
         width: 360px;
         height: 260px;
         margin-left: 36px;
      }
      .top {
        box-shadow: 0 2px #D9FFF5;
      }
      
    }

    @media all and (min-width: 1120px){
      .content__menu--hidden {
        display: block;
        margin-top: 42px;
        margin-right: 32px;
      }
      .content__header {
        margin: 0;
        margin-top: 42px;
      }
      .content__main {
        flex-direction: row;
      }
      .content__image {
        display: flex;
        margin-left: 36px;
      }
      .main-image {
        display: block;
        border-radius: 5px;
        width: 530px;
        height: 380px;
        margin-right: 28px;
        margin-left: -20px;
     }
      label:hover {
        cursor: pointer;
      }
      #repair {
        margin-right: 32px;
      }
      #repair, #search {
        margin-left: 9px;
      }
      .content__menu--hidden:nth-child(3) {
        margin-left: 32px;
      }
      .top {
        display: none;
      }
    }

  