@media all and (min-width: 325px){
  /* .content__menu--list li {
    max-width: 95%;
  } */
  .content__image img {
    display: flex;
    border-radius: 5px;
    width: 360px;
    height: 250px;
}
  }

  @media all and (min-width: 600px){
    .content__wraper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }

    .wrap-1 {
      display: flex;
  }
  
  .wrap-2 {
      display: flex;
      margin-right: 15px;
      
  }
  }
 
  @media all and (min-width: 1120px){
    .header__menu {
      display: none;
    }
    .container{
      width: 1120px;
    }

    .content__image img {
      display: flex;
      border-radius: 5px;
      width: 530px;
      height: 380px;
  }

  .title__menu {
    display: block;
}

.title__wraper {
    display: flex;
    justify-content: space-between;
}

.title__menu--list  {
    display: flex;
    list-style: none;  
    justify-content: center;
    align-items: center;
}

.title__menu--list span {
    margin-right: 8px;
    margin-left: 32px;
}

.title__menu {
  margin-right: 20px;
  margin-top: -60px;
}

.title {
  margin-top: -60px;
}

.highlight img {
  margin-top: 40px;
}

.title__menu--item li {
  margin-left: 20px;
}

    }
  
    @media all and (max-width: 320px){
      .header__menu--small {
        display: block;
      }
      .header__menu {
        display: none;
      }
      .wrap-2 {
        width: 320px;
        margin-left: -30px;
      }
      .content__main--hidden {
        display: none;
      }
    }

  