
@font-face {
  font-family: 'TT Lakes';
  src: url('fonts/TTLakes-Regular.eot');
  src:
      url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/TTLakes-Regular.woff') format('woff'),
      url('fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: 'TT Lakes';
src: url('fonts/TTLakes-Bold.eot');
src:
    url('TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Bold.woff') format('woff'),
    url('fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}


*, *::before, *::after {
	box-sizing: border-box;
   font-family: 'TT Lakes';
   
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.container {
  width: auto;
  overflow: hidden;
  }

  .header__menu {
	display: flex;
	background-color: #fff;
  background-image: no-repeat;
  height: 88px;
	padding: 10px;
	justify-content: space-between;
  }

  button {
    border: none;
    outline: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  .header__menu--list {
    display: flex;
    list-style: none;
    margin-left: -20px;
  }
  .header__menu--list li {
    display: flex;
    margin-right: 20px;
    justify-content: center;
  } 

 .header__menu--list--tools {
   display: flex;
   list-style: none;
 }

 .header__menu--list--tools li {
   display: flex;
   margin-right: 20px;
 }

 .title {
   margin-left: 30px;
   margin-top: -60px;
   font-family: 'TT Lakes';
 }

 .content {
  background: #F8F8F8;
 }

 .highlight img {
   margin-top: 20px;
 }

 
 .content__menu--list {
   display: flex; 
   justify-content: space-between; 
 }

 .content__menu--list li {
   display: flex;
   list-style: none;
   flex-wrap: wrap;
   white-space: nowrap;
   padding: 8px 9px 8px 16px;
   margin-right: 10px;
 }

 .content__menu--list li:hover {
   border: 2px solid #B8FFEC;
   border-radius: 6px;
 }

 .content__menu--list li:last-child {
   flex-direction: column;
 }

 .content__wraper {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-left: 30px;
 }

 .content__main {
   display: flex;
   flex-direction: column;
 }

 .text {
   display: flex;
   margin-left: 20px;
   margin-top: -20px;
 }

 .text__img {
   margin-left: -20px;
 }

 .text__title {
   margin-left: 10px;
 } 

 .content__image {
   display: flex;
   flex-direction: row;
 }


 
  
 

  

  
  

 